<div>
    <span>
        <div class="single-event">
            <a class="pull-left" href="#" data-ng-click="updateBetsCount('home')">
                <img class="media-object" src="..." alt="...">
            </a>
            <H3>{{home}}</H3>
            Bets on home: {{betsOnHome}}
        </div>

        <H4 class="single-event">VS</H4>

        <div class="single-event">
            <a class="pull-right" href="#" data-ng-click="updateBetsCount('away')">
                <img class="media-object" src="..." alt="...">
            </a>
            <H3>{{away}}</H3>
            Bets on home: {{betsOnAway}}
        </div>
    </span>
</div>
