<div class="jumbotron">
    <div class="row">
        <div class="text-center center-block">
            <div class="h2">Major League Baseball &nbsp<span><img src="/images/baseball/mlb-logo.png"></span></div>
            <div ng-repeat="event in events">
                <div data-single-event data-home="{{event.home}}" data-away="{{event.away}}"
                     data-bets-on-home="{{event.betsOnHome}}" data-bets-on-away="{{event.betsOnAway}}"
                     data-event-id="{{event._id}}"></div>
            </div>
        </div>
    </div>
</div>

